
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    min-height: 470px;
    background-image: url(/assets/images/zyro-image.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.bg-gradient{
    min-height: 300px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%);
}

.header-border{
    display: flex;
    border-bottom: rgba(255, 255, 255, 0.25) 1px solid;
}

.logo{
    width: 200px;
    color: rgb(255, 255, 255);
    line-height: 70px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: #000 1px 1px 8px;
    
}

.menu{
    flex: 1;
    margin: 20px;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}

.menu il{
    min-width: 100px;
    line-height: 28px;
}

.menu a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 20px;
}

#register{
    background-color: rgba(73, 73, 73, 0.596);
    width: 100%;
    height: 400px;
    max-width: 350px;
    position: absolute;
    bottom: 10;
    right: 40vw;
    box-shadow: 0 0 2.2rem rgba(140, 152, 168, .125);
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
    margin-bottom: 2px;
    margin-top: 70px;
}

#register p{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 35px;
    cursor: pointer;
}

#register .field{
    width: 100%;
    margin-bottom: 20px;
}

#register input{
    width: 100%;
    padding: .75rem 1rem;
    border-radius: 10px;

}

#register input{
    width: 100%;
    padding: .75rem 1rem;
    border-radius: 4px;
    border: #ccc 1px solid;
}

#register input[type=radio]{
    width: 25px;
    cursor: pointer;
}

#register button{
    width: 100%;
    height: 10%;
    border: none;
    background-color: #c0a352dc;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.container{
    max-width: 960px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.title h1{
    font-size: 3em;
    border-bottom:#ccc 1px solid;
    padding-bottom: 1rem;
    text-align: center;
    margin-top: 30px;
}

.home p{
    text-align: center;
    margin-top: 30px;
}

.sobre, #contact, .inputs, .contact-center p{
    text-align: center;
    margin-top: 30px;
}

.contact-container input, .contact-center textarea{
    width: 220px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.contact-container textarea{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 468px;
    height: 150px;
    border-radius: 10px;
}

.contact-container input[type=submit]{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto ;
    background-color: #b9b9b9;
    color: #000000;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.form-container{
    display: flex;
    flex-direction: column;
}

input[type=email], input[type=text]{
    flex-direction: row;
}

footer{
    background-color: #f5f5f5;
    color: #6c757c;
    font-size: .8em;
}

footer p{
    line-height: 35px;
}

.footer-container{
    display: flex;
    margin-top: 5px;
    text-align: center;
}

footer .menu a{
    color: #6c757d;
}

.footer-container p{
    margin-left: 45%;
}

.menu .open-menu, .backdrop, .close-menu{
    display: none;
}

